body {
  font-family: Helvetica,Arial,sans-serif;
  font-size: 14px;
}

a.logout {
  /* color: black; */
  font-size: 20px;
  margin-top: 8px;
  margin-bottom: 8px;
  text-decoration: none;
  background-color: #0d47a1 !important;
}

button.logout {
  padding-left: 10px;
}

button.submit {
  font-size: 20px;
  margin-top: 8px;
  margin-bottom: 8px;
  background-color: #0d47a1 !important;
}

div.closed {
  color: grey;
  margin-top: 8px;
  margin-bottom: 8px;
}

div.open {
  margin-top: 8px;
  margin-bottom: 8px;
}

.weekday {
  min-width: 32px;
  display: inline-block;
}

fieldset.personaldata {
  margin-right: 5px;
}

input.uid {
  width: 8em;
}

label.uid {
  padding-right: 6px;
}

label.password {
  padding-left: 10px;
  padding-right: 6px;
}

label.day {
  /* margin-right: 5px; */
  font-size: 1rem;
}

label.a3, label.a5, label.eh, label.bss {
  margin-right: 5px;
}

legend {
  font-size: 16px;
}

li {
  padding-bottom: 6px;
}

span.failure {
  background-color: red;
  font-weight: bold;
}
span.success {
  background-color: greenyellow;
  font-weight: bold;
}

th {
  text-align: left;
}

[type="radio"]:checked + span:after,
[type="radio"].with-gap:checked + span:before,
[type="radio"].with-gap:checked + span:after {
  border: 2px solid #0d47a1;
}
 
[type="radio"]:checked + span:after,
[type="radio"].with-gap:checked + span:after {
  background-color: #0d47a1;
}

[type="checkbox"].filled-in:checked + span:not(.lever):after 
{
    border: 2px solid #0d47a1;  
    background-color: #0d47a1;
}
